/* HEADER */

header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/hero.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 95vh;
    padding: 75px 0;
    z-index: 10;
}

header.mobile-menu {
    background: var(--black);
    height: 100vh;
    position: fixed;
    top: 0;
}


/* NAVBAR */
#logo {
    font-size: 0px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.navbar ul {
    gap: 12px;
}

.navbar ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navbar ul li a {
    color: var(--white);
    font-size: 20px;
    padding: 12px;
}

.nav-indicator {
    opacity: 0;
    width: 40%;
    /* max-width: 20px; */
    height: 2px;
    background-color: var(--white);
}

.navbar ul li:hover > span {
    opacity: 1;
}

#mobile-menu-icon {
    opacity: 0;
    display: none;
}

/* BOARD MESSAGE */

#board-message {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

#board-message h2 {
    inline-size: min-content;
    overflow-wrap: break-word;
    font-family: var(--font_josefin_sans);
    font-size: var(--heading_1);
    color: var(--white);
    font-weight: 300;
    border: 3px solid var(--white);
    padding: 50px;
    width: 55%;
    height: auto;
}

/* INTERACTIVE */
#info {
    margin-top: 5em;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
}

#info .photo {
    width: 55%;
    height: 100%;
}

#info .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#info .content {
    width: 55%;
    height: 60%;
    background-color: var(--white);
    position: absolute;
    bottom: 3px;
    right: 0%;
    padding: 5% 5% 0;
    gap: 15px;
}

#info .content h2 {
    font-size: var(--heading_2);
    font-weight: 300;
}

#info .content p {
    font-size: var(--regular_font_size);
    color: var(--gray);
}

/* CREATIONS */
#creations {
    width: 100%;
    height: auto;
    margin-top: 5em;
}

#creations .headline {
    justify-content: space-between;
    align-items: center;
}

#creations .headline h2 {
    font-size: var(--heading_2);
    font-weight: 300;
}

#creations .headline button {
    border: 1px solid var(--black);
    font-family: var(--font_josefin_sans);
    text-transform: uppercase;
    padding: 1% 2%;
    font-weight: bold;
}

#creations .headline button:hover {
    background: var(--black);
    color: var(--white);
}

#creations .list {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 24px;
}

#creations .list article {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8365721288515406) 0%, rgba(0, 0, 0, 0) 100%), var(--thumbnail)no-repeat center;
    background-size: cover;
    width: 23.62%;
    height: 60vh;
    cursor: pointer;
}

#creations .list article:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%), var(--thumbnail)no-repeat center;
    background-size: cover;
}

#creations .list article h3 {
    font-size: 2.3rem;
    font-weight: 300;
    color: var(--white);
    width: 100%;
    padding: 10% 15%;
    align-self: flex-end;
}

#creations .list article:hover h3 {
    color: var(--black);
}

@media only screen and (max-width: 768px) {

    /* HEADER MOBILE */
    header {
        padding: 40px 0;
    }

    /* NAVBAR MOBILE */
    #mobile-menu-icon {
        opacity: 1;
        display: initial;
        height: 20px;
    }

    .menu-header-menu-container {
        opacity: 0;
        position: absolute;
        left: -99999px;
        overflow-x: hidden;
    }

    .menu-header-menu-container.active {
        opacity: 1;
        position: initial;
        width: 100%;
        padding: 25px 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navbar ul li {
        align-items: flex-start;
    }

    /* HEADER BOARD MESSAGE MOBILE */
    #board-message.hidden {
        position: absolute;
        left: -9999px;
        opacity: 0;
    }

    #board-message {
        justify-content: center;
    }

    #board-message h2 {
        font-size: var(--heading_2);
        padding: 25px 15px;
        width: 100%;
    }

    /* INTERACTIVE MOBILE */
    #info {
        flex-direction: column;
        gap: 25px;
    }

    #info .photo {
        width: 100%;
    }

    #info .content {
        position: initial;
        width: 100%;
        padding: 0;
        height: auto;
        text-align: center;
    }

    #info .content h2 {
        font-size: var(--heading_3)
    }

    /* CREATIONS */
    #creations .headline h2 {
        font-size: var(--heading_3);
        text-align: center;
        width: 100%;
    }

    #creations .headline button {
        display: none;
    }

    #creations .list {
        width: 100%;
        height: 100%;
    }

    #creations .list article {
        height: 15vh;
        width: 100%;
    }

}

@media only screen and (max-width: 387px) {
    #board-message h2 {
        font-size: var(--heading_3);
    }
}